<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="edu.unikiel.rtsys.kieler.kiml.layout.kimlDiagramLayouter">
      <kimlDiagramLayouter
            class="edu.unikiel.rtsys.kieler.ssm.gmf.diagram.kiml.KimlSSMDiagramLayouter"
            editor_id="edu.unikiel.rtsys.kieler.ssm.diagram.part.SafeStateMachineDiagramEditorID">
         <Priority
               name="Lowest"></Priority>
      </kimlDiagramLayouter>
   </extension>

</plugin>
