<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Viewmanagement Effects"
         point="de.cau.cs.kieler.viewmanagement.triggers">
      <trigger
            class="de.cau.cs.kieler.viewmanagement.triggers.SelectionTrigger"
            name="SelectionTrigger">
      </trigger>
      <trigger
            class="de.cau.cs.kieler.viewmanagement.triggers.LayoutTrigger"
            name="LayoutTrigger">
      </trigger>
      <trigger
            class="de.cau.cs.kieler.viewmanagement.triggers.CollapseExpandTrigger"
            description="Notifies about collapse and expand of compartments."
            name="CollapseExpandTrigger">
      </trigger>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.viewmanagement.triggers.DiagramListener">
      </startup>
   </extension>

</plugin>
