<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.viewmanagement.effects" name="effects" schema="schema/de.cau.cs.kieler.viewmanagement.effects.exsd"/>
   <extension-point id="de.cau.cs.kieler.viewmanagement.triggers" name="triggers" schema="schema/de.cau.cs.kieler.viewmanagement.triggers.exsd"/>
   <extension-point id="de.cau.cs.kieler.viewmanagement.combination" name="combination" schema="schema/de.cau.cs.kieler.viewmanagement.combination.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="de.cau.cs.kieler.viewmanagement.menuContribution1">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.viewmanagement.VMControl"
            id="de.cau.cs.kieler.viewmanagement.VMControl"
            name="VM Control"
            restorable="true">
      </view>
   </extension>


</plugin>
