<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layout.kimlDiagramLayouter">
      <kimlDiagramLayouter
            class="dataflow.diagram.services.DataflowDiagramLayouter"
            editor_id="dataflow.diagram.part.DataflowDiagramEditorID"></kimlDiagramLayouter>
   </extension>
 <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.cau.cs.kieler.dataflow.diagram">
         <propertyTab
               category="visual"
               id="property.tab.LayoutPropertySection"
               label="Kiml Layout">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.cau.cs.kieler.dataflow.diagram">
         <propertySection
               class="de.cau.cs.kieler.kiml.ui.properties.tabbed.sections.KimlLayoutTypePropertySection"
               id="de.cau.cs.kieler.kiml.ui.properties.tabbed.sections.KimlLayoutTypePropertySection"
               tab="property.tab.LayoutPropertySection">
            <input
                  type="dataflow.diagram.edit.parts.Box2EditPart">
            </input>
            <input
                  type="dataflow.diagram.edit.parts.BoxEditPart">
            </input>
            <input
                  type="dataflow.diagram.edit.parts.BoxBoxCompartment2EditPart">
            </input>
            <input
                  type="dataflow.diagram.edit.parts.BoxBoxCompartmentEditPart">
            </input>
            <input
                  type="dataflow.diagram.edit.parts.DataflowModelEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.dataflow.diagram.general"
            class="dataflow.diagram.preferences.DiagramLayoutPreferencePage"
            id="de.cau.cs.kieler.dataflow.diagram.layout.preferences"
            name="Layout">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="dataflow.diagram.preferences.LayoutPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="dataflow.diagram.services.DataflowLayoutEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <object
               class="dataflow.diagram.edit.parts.InputPortEditPart(de.cau.cs.kieler.dataflow.diagram)"
               id="dataflow.diagram.layout.inputPortObject">
         </object>
         <object
               class="dataflow.diagram.edit.parts.OutputPortEditPart(de.cau.cs.kieler.dataflow.diagram)"
               id="dataflow.diagram.layout.outputPortObject">
         </object>
         <context
               editparts="dataflow.diagram.layout.inputPortObject,dataflow.diagram.layout.outputPortObject">
         </context>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="dataflow.diagram.layout.kimllabelprovider.KimlDataflowItemProviderAdapterFactory"
            supportedTypes="de.cau.cs.kieler.kiml.ui.provider.IKimlLabelProvider"
            uri="http://www.informatik.uni-kiel.de/rtsys/">
      </factory>
   </extension>
</plugin>
