<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.unikiel.rtsys.kieler.kiml.ui.preferences.MainPreferencePage"
            id="edu.unikiel.rtsys.kieler.kiml.ui.PreferencePage"
            name="%page.name.0">
      </page>
      <page
            category="edu.unikiel.rtsys.kieler.kiml.ui.PreferencePage"
            class="edu.unikiel.rtsys.kieler.kiml.ui.preferences.UILayoutPreferencePage"
            id="edu.unikiel.rtsys.kieler.kiml.ui.page1"
            name="Layout UI">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.unikiel.rtsys.kieler.kiml.ui"
            name="%category.name.0">
      </category>
      <view
            category="edu.unikiel.rtsys.kieler.kiml.ui"
            class="edu.unikiel.rtsys.kieler.kiml.ui.views.KimlLayoutGraphView"
            icon="icons/sample.gif"
            id="edu.unikiel.rtsys.kieler.kiml.ui.views.KimlLayoutGraphView"
            name="%view.name.0">
      </view>
      <view
            category="edu.unikiel.rtsys.kieler.kiml.ui"
            class="edu.unikiel.rtsys.kieler.kiml.ui.views.KimlLayoutHintView"
            icon="icons/sample.gif"
            id="edu.unikiel.rtsys.kieler.kiml.ui.views.KimlLayoutHintView"
            name="%view.name.1"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.unikiel.rtsys.kieler.kiml.ui.KimlPerspectiveFactory"
            fixed="false"
            id="edu.unikiel.rtsys.kieler.kiml.ui.perspective1"
            name="%perspective.name.0">
      </perspective>
   </extension>
   
   <extension
point="org.eclipse.ui.menus">
<menuContribution
  locationURI="menu:org.eclipse.ui.main.menu?after=additions">
<menu
    id="edu.unikiel.rtsys.kieler.kiml.ui.menu.kiml"
    label="%menu.label.1"
    mnemonic="%menu.mnemonic.0">
   <menu
         label="%menu.label.2">
      <dynamic
            class="edu.unikiel.rtsys.kieler.kiml.ui.ContributionItemGroupAs"
            id="edu.unikiel.rtsys.kieler.kiml.ui.dynamic.groupAs">
      </dynamic>
   </menu>
   <menu
         label="%menu.label.3">
      <command
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.highlightGroupMembers"
            label="%command.label.7"
            style="push">
      </command>
      <command
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.selectGroupMembers"
            label="%command.label.8"
            style="push">
      </command>
      <command
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.ungroupElements"
            label="%command.label.9"
            style="push">
      </command>
   </menu>
</menu>
</menuContribution>
<menuContribution
      locationURI="popup:org.eclipse.ui.popup.any?after=additions">
   <menu
         icon="icons/sample.gif"
         label="%menu.label.4">
      <command
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.kimlLayout"
            icon="icons/kieler-arrange.png"
            label="Layout this"
            style="push">
      </command>
      <command
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.kimlLayoutAll"
            icon="icons/kieler-arrange.png"
            label="Layout all"
            style="push">
      </command>
      <separator
            name="edu.unikiel.rtsys.kieler.kiml.ui.separator.groupAs"
            visible="true">
      </separator>
      <dynamic
            class="edu.unikiel.rtsys.kieler.kiml.ui.ContributionItemGroupAs"
            id="edu.unikiel.rtsys.kieler.kiml.ui.dynamic.groupAs">
      </dynamic>
      <separator
            name="edu.unikiel.rtsys.kieler.kiml.ui.separator.functions"
            visible="true">
      </separator>
      <command
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.highlightGroupMembers"
            label="%command.label.16"
            style="push">
      </command>
      <command
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.selectGroupMembers"
            label="%command.label.17"
            style="push">
      </command>
      <command
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.ungroupElements"
            label="%command.label.18"
            style="push">
      </command>
   </menu>
</menuContribution>
<menuContribution
      locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
   <toolbar
         id="edu.unikiel.rtsys.kieler.kiml.ui.toolbar.main">
      <command
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.kimlLayout"
            icon="icons/kieler-arrange.png"
            label="KIML Layout"
            style="push">
      </command>
   </toolbar>
</menuContribution>
</extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.unikiel.rtsys.kieler.kiml.ui.command.groupAs"
            name="Group As">
         <commandParameter
               id="edu.unikiel.rtsys.kieler.kiml.ui.command.groupAs.parameter.layouterName"
               name="layouterName"
               optional="true">
         </commandParameter>
      </command>
      <command
            description="%command.description.6"
            id="edu.unikiel.rtsys.kieler.kiml.ui.command.highlightGroupMembers"
            name="%command.name.6">
      </command>
      <command
            description="%command.description.7"
            id="edu.unikiel.rtsys.kieler.kiml.ui.command.selectGroupMembers"
            name="%command.name.7">
      </command>
      <command
            description="%command.description.8"
            id="edu.unikiel.rtsys.kieler.kiml.ui.command.ungroupElements"
            name="%command.name.8">
      </command>
      <command
            id="edu.unikiel.rtsys.kieler.kiml.ui.command.kimlLayout"
            name="KIML Layout">
      </command>
      <command
            id="edu.unikiel.rtsys.kieler.kiml.ui.command.kimlLayoutAll"
            name="KIML Layout All">
      </command>
      <commandParameterType
            id="edu.unikiel.rtsys.kieler.kiml.ui.commandParameterType.String"
            type="java.lang.String">
      </commandParameterType>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.unikiel.rtsys.kieler.kiml.ui.handlers.GroupAsHandler"
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.groupAs">
      </handler>
      <handler
            class="edu.unikiel.rtsys.kieler.kiml.ui.handlers.GroupFunctionHandler"
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.selectGroupMembers">
         <enabledWhen>
            <reference
                  definitionId="KIML.generalSelectionIs1ShapeNodeEditPart">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="edu.unikiel.rtsys.kieler.kiml.ui.handlers.GroupFunctionHandler"
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.highlightGroupMembers">
         <enabledWhen>
            <reference
                  definitionId="KIML.generalSelectionIs1ShapeNodeEditPart">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="edu.unikiel.rtsys.kieler.kiml.ui.handlers.GroupFunctionHandler"
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.ungroupElements">
         <enabledWhen>
            <reference
                  definitionId="KIML.generalSelectionIs1OrMoreShapeNodeEditParts">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="edu.unikiel.rtsys.kieler.kiml.ui.handlers.KimlLayoutHandler"
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.kimlLayout">
      </handler>
      <handler
            class="edu.unikiel.rtsys.kieler.kiml.ui.handlers.KimlLayoutHandler"
            commandId="edu.unikiel.rtsys.kieler.kiml.ui.command.kimlLayoutAll">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="KIML.2OrMore">
         <and>
            <not>
               <count
                     value="?">
               </count>
            </not>
            <count
                  value="+">
            </count>
         </and>
      </definition>
      <definition
            id="KIML.activeMenuSelectionIs1">
         <with
               variable="activeMenuSelection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="KIML.activeMenuSelectionIs1ShapeNodeEditPart">
         <with
               variable="activeMenuSelection">
            <and>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
                  </adapt>
               </iterate>
               <count
                     value="1">
               </count>
            </and>
         </with>
      </definition>
      <definition
            id="KIML.activeMenuSelectionIs1OrMoreShapeNodeEditParts">
         <with
               variable="activeMenuSelection">
            <and>
               <iterate
                     operator="or">
                  <adapt
                        type="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
                  </adapt>
               </iterate>
               <count
                     value="+">
               </count>
            </and>
         </with>
      </definition>
      <definition
            id="KIML.activeMenuSelectionIs1OrMore">
         <with
               variable="activeMenuSelection">
            <count
                  value="+">
            </count>
         </with>
      </definition>
      <definition
            id="KIML.activeMenuSelectionIs2OrMore">
         <with
               variable="activeMenuSelection">
            <reference
                  definitionId="KIML.2OrMore">
            </reference>
         </with>
      </definition>
      <definition
            id="KIML.activeMenuSelectionIs2OrMoreShapeNodeEditParts">
         <with
               variable="activeMenuSelection">
            <and>
               <iterate
                     operator="or">
                  <adapt
                        type="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
                  </adapt>
               </iterate>
               <reference
                     definitionId="KIML.2OrMore">
               </reference>
            </and>
         </with>
      </definition>
      <definition
            id="KIML.selectionIs1">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="KIML.selectionIs1ShapeNodeEditPart">
         <with
               variable="selection">
            <and>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
                  </adapt>
               </iterate>
               <count
                     value="1">
               </count>
            </and>
         </with>
      </definition>
      <definition
            id="KIML.selectionIs1OrMore">
         <with
               variable="selection">
            <count
                  value="+">
            </count>
         </with>
      </definition>
      <definition
            id="KIML.selectionIs1OrMoreShapeNodeEditParts">
         <with
               variable="selection">
            <and>
               <iterate
                     operator="or">
                  <adapt
                        type="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
                  </adapt>
               </iterate>
               <count
                     value="+">
               </count>
            </and>
         </with>
      </definition>
      <definition
            id="KIML.selectionIs2OrMore">
         <with
               variable="selection">
            <reference
                  definitionId="KIML.2OrMore">
            </reference>
         </with>
      </definition>
      <definition
            id="KIML.selectionIs2OrMoreShapeNodeEditParts">
         <with
               variable="selection">
            <and>
               <iterate
                     operator="or">
                  <adapt
                        type="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
                  </adapt>
               </iterate>
               <reference
                     definitionId="KIML.2OrMore">
               </reference>
            </and>
         </with>
      </definition>
      <definition
            id="KIML.generalSelectionIs1">
         <or>
            <reference
                  definitionId="KIML.selectionIs1">
            </reference>
            <reference
                  definitionId="KIML.activeMenuSelectionIs1">
            </reference>
         </or>
      </definition>
      <definition
            id="KIML.generalSelectionIs1OrMore">
         <or>
            <reference
                  definitionId="KIML.activeMenuSelectionIs1OrMore">
            </reference>
            <reference
                  definitionId="KIML.selectionIs1OrMore">
            </reference>
         </or>
      </definition>
      <definition
            id="KIML.generalSelectionIs1ShapeNodeEditPart">
         <or>
            <reference
                  definitionId="KIML.activeMenuSelectionIs1ShapeNodeEditPart">
            </reference>
            <reference
                  definitionId="KIML.selectionIs1ShapeNodeEditPart">
            </reference>
         </or>
      </definition>
      <definition
            id="KIML.generalSelectionIs1OrMoreShapeNodeEditParts">
         <or>
            <reference
                  definitionId="KIML.activeMenuSelectionIs1OrMoreShapeNodeEditParts">
            </reference>
            <reference
                  definitionId="KIML.selectionIs1OrMoreShapeNodeEditParts">
            </reference>
         </or>
      </definition>
      <definition
            id="KIML.generalSelectionIs2OrMore">
         <or>
            <reference
                  definitionId="KIML.activeMenuSelectionIs2OrMore">
            </reference>
            <reference
                  definitionId="KIML.selectionIs2OrMore">
            </reference>
         </or>
      </definition>
      <definition
            id="KIML.generalSelectionIs2OrMoreShapeNodeEditParts">
         <or>
            <reference
                  definitionId="KIML.activeMenuSelectionIs2OrMoreShapeNodeEditParts">
            </reference>
            <reference
                  definitionId="KIML.selectionIs2OrMoreShapeNodeEditParts">
            </reference>
         </or>
      </definition>
   </extension>

</plugin>
