<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="false"
            class="edu.unikiel.rtsys.kieler.kiml.ui.KimlContributionItemProvider">
         <Priority
               name="Low">
         </Priority>
         <partContribution
               class="org.eclipse.gmf.runtime.diagram.ui.parts.IDiagramWorkbenchPart">
            <partAction
                  id="edu.unikiel.rtsys.kieler.kiml.ui.layoutAction01"
                  menubarPath="/diagramMenu/arrangeMenu/arrangeGroup"
                  toolbarPath="/arrangeMenu">
            </partAction>
            <partAction
                  id="edu.unikiel.rtsys.kieler.kiml.ui.testAction01"
                  menubarPath="/diagramMenu/arrangeMenu/arrangeGroup"
                  toolbarPath="/arrangeMenu">
            </partAction>
         </partContribution>
      </contributionItemProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.unikiel.rtsys.kieler.kiml.ui.WorkbenchPreferencePage"
            id="edu.unikiel.rtsys.kieler.kiml.ui.PreferencePage"
            name="KIML">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.unikiel.rtsys.kieler.kiml.ui"
            name="KIELER">
      </category>
      <view
            category="edu.unikiel.rtsys.kieler.kiml.ui"
            class="edu.unikiel.rtsys.kieler.kiml.ui.views.KimlLayoutGraphView"
            icon="icons/sample.gif"
            id="edu.unikiel.rtsys.kieler.kiml.ui.views.KimlLayoutGraphView"
            name="KIML Layout Graph View">
      </view>
   </extension>
   <extension
         id="edu.unikiel.rtsys.kieler.kiml.ui.actionSet1"
         name="KimlArrangeActionGEFGeneric"
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="KimlArrangeActionGEFGeneric"
            id="edu.unikiel.rtsys.kieler.kiml.ui.actionSet1"
            label="KimlArrangeActionGEFGeneric"
            visible="true">
         <action
               class="edu.unikiel.rtsys.kieler.kiml.ui.KimlArrangeActionGenericGef"
               id="KimlArrangeActionGEFGeneric"
               label="KimlArrangeActionGef"
               pulldown="false"
               style="push"
               toolbarPath="Normal/kieler"
               tooltip="KimlArrangeActionGef">
         </action>
      </actionSet>
   </extension>

</plugin>
