<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.sim.kiem.dataproducer" name="de.cau.cs.kieler.sim.kiem.dataproducer" schema="schema/de.cau.cs.kieler.sim.kiem.dataproducer.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
      <view
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.sim.kiem.views.KiemView"
            icon="icons/KiemIcon.gif"
            id="de.cau.cs.kieler.sim.kiem.view"
            name="KIELER Execution Manager"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.cau.cs.kieler.sim.kiem.views.KIEM"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>


</plugin>
