<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.viewmanagement.effects">
      <effect
            class="de.cau.cs.kieler.viewmanagement.effects.DefaultTestEffect"
            name="de.cau.cs.kieler.viewmanagement.effects.defaulttest">
      </effect>
      <effect
            class="de.cau.cs.kieler.viewmanagement.effects.HighlightEffect"
            name="de.cau.cs.kieler.viewmanagement.effects.highlight">
      </effect>
      <effect
            class="de.cau.cs.kieler.viewmanagement.effects.CompartmentCollapseEffect"
            name="de.cau.cs.kieler.viewmanagement.effects.compartmentcollapse">
      </effect>
      <effect
            class="de.cau.cs.kieler.viewmanagement.effects.CompartmentExpandEffect"
            name="de.cau.cs.kieler.viewmanagement.effects.compartmentexpand">
      </effect>
      <effect
            class="de.cau.cs.kieler.viewmanagement.effects.TextualRepresentationEffect"
            name="de.cau.cs.kieler.viewmanagement.effects.textualrepresentation">
      </effect>
   </extension>

</plugin>
