<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="edu.unikiel.rtsys.layouter.layoutprovider"
         name="GraphvizProvider"
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="kiel.layouter.graphviz.GraphvizLayoutProvider">
         <Priority
               name="Lowest">
         </Priority>
      </layoutProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.ui.PreferencePage"
            class="de.cau.cs.kieler.layouter.ui.WorkbenchPreferencePage"
            id="edu.unikiel.rtsys.layouter.graphviz.page2"
            name="Layouter">
      </page>
   </extension>

</plugin>
