<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="edu.unikiel.rtsys.kieler.kiml.layout.kimlDiagramLayouter">
      <kimlDiagramLayouter
            class="edu.unikiel.rtsys.kieler.ssm.gmf.diagram.layouter.KimlSSMDiagramLayouter"
            editor_id="edu.unikiel.rtsys.kieler.ssm.diagram.part.SafeStateMachineDiagramEditorID">
      </kimlDiagramLayouter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.unikiel.rtsys.kieler.kiml.layout.preferences.DiagramLayoutersPreferencePage"
            class="edu.unikiel.rtsys.kieler.ssm.gmf.diagram.layouter.preferences.PreferencePage"
            id="edu.unikiel.rtsys.kieler.ssm.gmf.diagram.layouter.page1"
            name="SSM Diagram Layouter">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="edu.unikiel.rtsys.kieler.ssm.gmf.diagram">
         <propertyTab
               category="visual"
               id="property.tab.LayoutPropertySection"
               label="Kiml Layout">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="edu.unikiel.rtsys.kieler.ssm.gmf.diagram">
         <propertySection
               class="edu.unikiel.rtsys.kieler.kiml.ui.properties.tabbed.sections.KimlLayoutTypePropertySection"
               id="edu.unikiel.rtsys.kieler.ssm.gmf.diagram.layouter.kimlLayoutSection"
               tab="property.tab.LayoutPropertySection">
            <input
                  type="edu.unikiel.rtsys.kieler.ssm.diagram.edit.parts.CompositeState2EditPart">
            </input>
            <input
                  type="edu.unikiel.rtsys.kieler.ssm.diagram.edit.parts.RegionEditPart">
            </input>
            <input
                  type="edu.unikiel.rtsys.kieler.ssm.diagram.edit.parts.SafeStateMachineEditPart">
            </input>
            <input
                  type="edu.unikiel.rtsys.kieler.ssm.diagram.edit.parts.CompositeStateEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
