<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="epc_diagram">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="epc_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/EpcDiagramFile.gif"
         extensions="epc_diagram"
         default="true"
         class="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDiagramEditor"
         matchingStrategy="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcMatchingStrategy"
         contributorClass="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="edu.unikiel.informatik.aiw.generated.epc.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/EpcDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcCreationWizard"
  	     id="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.LoadResource"
            objectClass="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.parts.EPCEditPart">
         <action
               class="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcLoadResourceAction"
               enablesFor="1"
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.LoadResourceAction"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>           
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.InitDiagram"
            nameFilter="*.epc"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="EpcPresentation">
         <Priority name="Lowest"/>
         <ViewId id="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="EpcPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="EpcPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="EpcRender">
         <Priority name="Lowest"/>
         <ViewId id="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcContributionItemProvider">
         <Priority name="Low">
         </Priority>
         <partContribution id="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDiagramEditorID">
            <partAction menubarPath="/file/print" id="printPreviewAction">
            </partAction>
         </partContribution>
      </contributionItemProvider>
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
      </contributionItemProvider>
   </extension>

   <extension id="ValidationContributionItemProvider" name="Validation"
      point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider
         class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcValidationProvider">
         <Priority name="Low"/>
         <partContribution id="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDiagramEditorID">
            <partMenuGroup menubarPath="/diagramMenu/" id="validationGroup"/>
            <partAction id="validateAction" menubarPath="/diagramMenu/validationGroup"/>
         </partContribution>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcMarkerNavigationProvider">
         <MarkerType name="edu.unikiel.informatik.aiw.generated.epc.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Epc Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="edu.unikiel.informatik.aiw.generated.epc.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="true"?>
      <page
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.general"
            name="%preference.page.title.edu.unikiel.informatik.aiw.generated.epc.diagram.general"
            class="edu.unikiel.informatik.aiw.generated.epc.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.appearance"
            name="%preference.page.title.edu.unikiel.informatik.aiw.generated.epc.diagram.appearance"
            category="edu.unikiel.informatik.aiw.generated.epc.diagram.general"
            class="edu.unikiel.informatik.aiw.generated.epc.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.connections"
            name="%preference.page.title.edu.unikiel.informatik.aiw.generated.epc.diagram.connections"
            category="edu.unikiel.informatik.aiw.generated.epc.diagram.general"
            class="edu.unikiel.informatik.aiw.generated.epc.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.printing"
            name="%preference.page.title.edu.unikiel.informatik.aiw.generated.epc.diagram.printing"
            category="edu.unikiel.informatik.aiw.generated.epc.diagram.general"
            class="edu.unikiel.informatik.aiw.generated.epc.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.rulersAndGrid"
            name="%preference.page.title.edu.unikiel.informatik.aiw.generated.epc.diagram.rulersAndGrid"
            category="edu.unikiel.informatik.aiw.generated.epc.diagram.general"
            class="edu.unikiel.informatik.aiw.generated.epc.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.pathmaps"
            name="%preference.page.title.edu.unikiel.informatik.aiw.generated.epc.diagram.pathmaps"
            category="edu.unikiel.informatik.aiw.generated.epc.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="edu.unikiel.informatik.aiw.generated.epc.diagram"
            labelProvider="edu.unikiel.informatik.aiw.generated.epc.diagram.sheet.EpcSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="edu.unikiel.informatik.aiw.generated.epc.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="edu.unikiel.informatik.aiw.generated.epc.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="edu.unikiel.informatik.aiw.generated.epc.diagram.sheet.EpcPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Epc"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.EPC_79"
               name="%metatype.name.EPC_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EPC"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.EPCEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.AND_1001"
               name="%metatype.name.AND_1001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AND"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.ANDEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.OR_1002"
               name="%metatype.name.OR_1002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OR"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.OREditHelper">
            <param name="semanticHint" value="1002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.Information_1003"
               name="%metatype.name.Information_1003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Information"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.InformationEditHelper">
            <param name="semanticHint" value="1003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.XOR_1004"
               name="%metatype.name.XOR_1004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="XOR"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.XOREditHelper">
            <param name="semanticHint" value="1004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.Event_1005"
               name="%metatype.name.Event_1005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Event"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.EventEditHelper">
            <param name="semanticHint" value="1005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <specializationType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.EPC_1006"
               name="%metatype.name.EPC_1006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.">
            <specializes id="edu.unikiel.informatik.aiw.generated.epc.diagram.EPC_79"/>
            <param name="semanticHint" value="1006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.Function_1007"
               name="%metatype.name.Function_1007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Function"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.FunctionEditHelper">
            <param name="semanticHint" value="1007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.TriggersEvent_3001"
               name="%metatype.name.TriggersEvent_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TriggersEvent"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.TriggersEventEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.ProvidesDataTo_3002"
               name="%metatype.name.ProvidesDataTo_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ProvidesDataTo"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.ProvidesDataToEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.WritesDataTo_3003"
               name="%metatype.name.WritesDataTo_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="WritesDataTo"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.WritesDataToEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.ActivatesFunction_3004"
               name="%metatype.name.ActivatesFunction_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActivatesFunction"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.ActivatesFunctionEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.EventToOperatorConnection_3005"
               name="%metatype.name.EventToOperatorConnection_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EventToOperatorConnection"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.EventToOperatorConnectionEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.FunctionToOperatorConnection_3006"
               name="%metatype.name.FunctionToOperatorConnection_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FunctionToOperatorConnection"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.FunctionToOperatorConnectionEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.OperatorToEventConnection_3007"
               name="%metatype.name.OperatorToEventConnection_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OperatorToEventConnection"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.OperatorToEventConnectionEditHelper">
            <param name="semanticHint" value="3007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://informatik.uni-kiel.de/aiw/epcmodel">
         <metamodelType
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.OperatorToFunctionConnection_3008"
               name="%metatype.name.OperatorToFunctionConnection_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OperatorToFunctionConnection"
               edithelper="edu.unikiel.informatik.aiw.generated.epc.diagram.edit.helpers.OperatorToFunctionConnectionEditHelper">
            <param name="semanticHint" value="3008"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="EpcClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="edu.unikiel.informatik.aiw.generated.epc.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="EpcClientContext">
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.EPC_79"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.AND_1001"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.OR_1002"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.Information_1003"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.XOR_1004"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.Event_1005"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.EPC_1006"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.Function_1007"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.TriggersEvent_3001"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.ProvidesDataTo_3002"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.WritesDataTo_3003"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.ActivatesFunction_3004"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.EventToOperatorConnection_3005"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.FunctionToOperatorConnection_3006"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.OperatorToEventConnection_3007"/>
         <elementType ref="edu.unikiel.informatik.aiw.generated.epc.diagram.OperatorToFunctionConnection_3008"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.unikiel.informatik.aiw.generated.epc.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="edu.unikiel.informatik.aiw.generated.epc.diagram"
           properties="isURIEditorInput"
           class="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.unikiel.informatik.aiw.generated.epc.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="edu.unikiel.informatik.aiw.generated.epc.diagram"
           properties="isShortcut"
           class="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcShortcutPropertyTester">
       </propertyTester>
   </extension>

	   

	   <extension point="org.eclipse.ui.navigator.viewer">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="edu.unikiel.informatik.aiw.generated.epc.diagram.resourceContent"/>
			<contentExtension pattern="edu.unikiel.informatik.aiw.generated.epc.diagram.domainResourceContent"/>
            <contentExtension pattern="edu.unikiel.informatik.aiw.generated.epc.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="edu.unikiel.informatik.aiw.generated.epc.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcNavigatorContentProvider" 
            labelProvider="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcNavigatorLabelProvider"
            icon="icons/obj16/EpcDiagramFile.gif"
            activeByDefault="false">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="epc_diagram"/>
               </and>
               <instanceof value="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.unikiel.informatik.aiw.generated.epc.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.unikiel.informatik.aiw.generated.epc.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="edu.unikiel.informatik.aiw.generated.epc.diagram.navigatorSorter" 
               class="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="epc_diagram"/>
                  </and>
                  <instanceof value="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcDomainNavigatorContentProvider" 
            labelProvider="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcDomainNavigatorLabelProvider"
            icon="icons/obj16/EpcDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="epc"/>
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject"/>
                  <test property="edu.unikiel.informatik.aiw.generated.epc.diagram.isDomainModelElement"/>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
       	       <instanceof value="org.eclipse.emf.ecore.EObject"/>
       	       <test property="edu.unikiel.informatik.aiw.generated.epc.diagram.isDomainModelElement"/>
       	    </and>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.navigatorActionProvider"
            class="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.unikiel.informatik.aiw.generated.epc.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="edu.unikiel.informatik.aiw.generated.epc.diagram.navigatorLinkHelper"
            class="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="edu.unikiel.informatik.aiw.generated.epc.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="edu.unikiel.informatik.aiw.generated.epc.diagram.navigator.EpcAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <?gmfgen generated="true"?>
            <category id="commonAudits" mandatory="false" name="Common Audits">
         <![CDATA[Common Audits for validation]]>
      </category>
      <constraintProvider cache="true">
         <package namespaceUri="http://informatik.uni-kiel.de/aiw/epcmodel"/>
               <constraints categories="commonAudits">
                  <constraint id="common.namedNodes"
            lang="OCL"
            name="Named nodes"
            mode="Batch"
            severity="WARNING" statusCode="200">
            <![CDATA[self.name.size() > 0]]>
            <description><![CDATA[Nodes should have a name]]></description>
            <message><![CDATA[Nodes should have a name]]></message>
            <target class="epc.Node"/>
         </constraint>
                  </constraints>
      </constraintProvider>
   </extension>

   <extension point="org.eclipse.emf.validation.constraintBindings">
      <?gmfgen generated="true"?>
                  <clientContext default="false" id="edu.unikiel.informatik.aiw.generated.epc.diagram.DefaultCtx">
         <selector class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcValidationProvider$DefaultCtx1"/>
      </clientContext>
      <binding context="edu.unikiel.informatik.aiw.generated.epc.diagram.DefaultCtx">
                  <constraint ref="edu.unikiel.informatik.aiw.generated.epc.diagram.common.namedNodes"/>
               </binding>
               </extension>

   <extension point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <?gmfgen generated="true"?>
      
      <clientContext id="edu.unikiel.informatik.aiw.generated.epc.diagram.DefaultCtx"/>
         </extension>
   <extension point="org.eclipse.ui.commands">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDiagramUpdateCommand"
         description="%update.diagram.description"
         id="edu.unikiel.informatik.aiw.generated.epc.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <?gmfgen generated="true"?>
      <key 
         commandId="edu.unikiel.informatik.aiw.generated.epc.diagram.updateDiagram"
         contextId="edu.unikiel.informatik.aiw.generated.epc.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension><extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="edu.unikiel.informatik.aiw.generated.epc.diagram.providers.EpcShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
      </decoratorProvider>
   </extension>
<extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.unikiel.informatik.aiw.generated.epc.diagram.DomainModelElementPropertyTester"
           type="org.eclipse.emf.ecore.EObject"
           namespace="edu.unikiel.informatik.aiw.generated.epc.diagram"
           properties="isDomainModelElement"
           class="edu.unikiel.informatik.aiw.generated.epc.diagram.part.EpcDomainModelElementTester">
       </propertyTester>
   </extension>
<extension
      id="epcDiagramEditor"
      point="org.eclipse.core.runtime.products">
   <product
         application="org.eclipse.ui.ide.workbench"
         name="%productName">
      <property
            name="windowImages"
            value="eclipse.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png">
      </property>
      <property
            name="aboutText"
            value="%productBlurb">
      </property>
      <property
            name="aboutImage"
            value="eclipse_lg.gif">
      </property>
      <property
            name="startupForegroundColor"
            value="C8D5EA">
      </property>
      <property
            name="startupProgressRect"
            value="0,280,455,15">
      </property>
      <property
            name="startupMessageRect"
            value="7,220,441,20">
      </property>
      <property
            name="appName"
            value="%productName">
      </property>
      <property
            name="preferenceCustomization"
            value="plugin_customization.ini">
      </property>
   </product>
</extension>



</plugin>
