<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.informatik.uni-kiel.de/rtsys/ssm"
            class="edu.unikiel.rtsys.kieler.ssm.ssmPackage"
            genModel="model/ssm.genmodel"/>
   </extension>

</plugin>
