<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.klots.DataDistributor"
            id="de.cau.cs.kieler.klots.DataDistributor"
            name="NXT Data Distributor">
      </content>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.cau.cs.kieler.klots.editor.MultiPageEditor"
            contributorClass="de.cau.cs.kieler.klots.editor.MultiPageEditorContributor"
            extensions="js"
            icon="icons/editor4.gif"
            id="de.cau.cs.kieler.klots.editor.MultiPageEditor"
            name="Embedded SJ Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="cau.cs.kieler.klots.editor"
            class="de.cau.cs.kieler.klots.editor.SJProjectNewFileWizard"
            icon="icons/editor5.gif"
            id="de.cau.cs.kieler.klots.editor.SJEditorNewFileWizard"
            name="Embedded SJ File">
      </wizard>
      <category
            id="de.cau.cs.kieler.klots.editor"
            name="SJ Wizards">
      </category>
      <wizard
            category="cau.cs.kieler.klots.editor"
            class="de.cau.cs.kieler.klots.editor.SJProjectNewSJProjectWizard"
            icon="icons/editor5.gif"
            id="de.cau.cs.kieler.klots.editor.SJEditorNewSJProjectWizard"
            name="Embedded SJ Project"
            project="true">
      </wizard>
   </extension>
   
   
   <!-- ############################ MARKERS ############################## -->
   
   <extension
      	point="org.eclipse.core.resources.markers"
      	id="instructionMarker"
      	name="SJ Instruction Marker">
      	<!-- <super type="org.eclipse.core.resources.textmarker"/> -->
      	<super type="org.eclipse.core.resources.taskmarker"/>
      	<persistent value="false"/>
      	<attribute name="instructionName"/>
  </extension>
  <extension point="org.eclipse.ui.ide.markerImageProviders">
	<imageprovider
		markertype="de.cau.cs.kieler.klots.editor.instructionMarker"
		icon="icons/editor4.gif"
		id="de.cau.cs.kieler.klots.editor.instructionMarkerProvider">
	</imageprovider>
  </extension>
     
</plugin>
