<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
     <content
           class="de.cau.cs.kieler.klots.kiemdatacomponents.NXTDataDistributor"
           id="de.cau.cs.kieler.klots.NXTDataDistributor"
           name="NXT Data Distributor">
     </content>
  </extension>
  <extension
        point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
     <content
           class="de.cau.cs.kieler.klots.kiemdatacomponents.KlotsEditorNXTDataObserver"
           id="de.cau.cs.kieler.klots.KlotsEditorNXTDataObserver"
           name="KLOTS Editor NXT Data Observer">
     </content>
  </extension>
  <extension
        point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
     <content
           class="de.cau.cs.kieler.klots.kiemdatacomponents.SJInstructionsViewNXTDataObserver"
           id="de.cau.cs.kieler.klots.view.SJInstructionsViewNXTDataObserver"
           name="SJ Instructions View NXT Data Observer">
     </content>
  </extension>
  <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/embeddedSJ.execution">
         <editor
               id="de.cau.cs.kieler.klots.editor.KlotsEditor"
               name="KLOTS Editor"
               priority="6">
         </editor>
      </executionFile>
   </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="de.cau.cs.kieler.klots.editor.KlotsEditor"
           contributorClass="de.cau.cs.kieler.klots.editor.KlotsEditorContributor"
           default="false"
           extensions="java"
           icon="icons/KLOTS3.png"
           id="de.cau.cs.kieler.klots.editor.KlotsEditor"
           name="KLOTS Editor">
     </editor>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           category="de.cau.cs.kieler"
           class="de.cau.cs.kieler.klots.views.SJInstructionsView"
           icon="icons/sjInstructionsViewIcon.png"
           id="de.cau.cs.kieler.klots.view.SJInstructionsView"
           name="SJ Instructions View">
     </view>
  </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klots.wizards.NewPOJFileWizard"
            icon="icons/KLOTS5.png"
            id="de.cau.cs.kieler.klots.editor.NewPOJFileWizard"
            name="Embedded Java File">
      </wizard>
      <wizard
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klots.wizards.NewPOJProjectWizard"
            finalPerspective="de.cau.cs.kieler.klots.KlotsPerspective"
            icon="icons/KLOTS7.png"
            id="de.cau.cs.kieler.klots.editor.NewEmbeddedJavaProjectWizard"
            name="Embedded Java Project"
            project="true">
      </wizard>
      <category
            id="de.cau.cs.kieler.klots.editor"
            name="KLOTS Wizards">
      </category>
      <wizard
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klots.wizards.NewSJFileWizard"
            icon="icons/editor7.gif"
            id="de.cau.cs.kieler.klots.editor.NewSJFileWizard"
            name="Embedded SJ File">
      </wizard>
      <wizard
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klots.wizards.NewSJProjectWizard"
            finalPerspective="de.cau.cs.kieler.klots.KlotsPerspective"
            icon="icons/editor7.gif"
            id="de.cau.cs.kieler.klots.editor.NewSJProjectWizard"
            name="Embedded SJ Project"
            project="true">
      </wizard>
   </extension>
   
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="de.cau.cs.kieler.klots.KlotsPerspective"
           icon="icons/KLOTS3.png"
           id="de.cau.cs.kieler.klots.KlotsPerspective"
           name="KIELER Lego On-line Testing System">
     </perspective>
  </extension>
   
   
   
   <!-- ############################ MARKERS ############################## -->
   <extension
      	point="org.eclipse.core.resources.markers"
      	id="instructionMarker"
      	name="SJ Instruction Marker">
      	<!-- <super type="org.eclipse.core.resources.textmarker"/> -->
      	<super type="org.eclipse.core.resources.taskmarker"/>
      	<persistent value="false"/>
      	<attribute name="instructionName"/>
      	<attribute name="instructionLabel"/>
      	<attribute name="instructionStart"/>
      	<attribute name="instructionEnd"/>
  </extension>
  <extension point="org.eclipse.ui.ide.markerImageProviders">
	<imageprovider
		markertype="de.cau.cs.kieler.klots.instructionMarker"
		icon="icons/editor4.gif"
		id="de.cau.cs.kieler.klots.editor.instructionMarkerProvider">
	</imageprovider>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="de.cau.cs.kieler"
           class="de.cau.cs.kieler.klots.preferences.KlotsConnectionsPreferencePage"
           id="de.cau.cs.kieler.klots.preferences.KlotsPreferencePage"
           name="Lego Execution (KLOTS)">
     </page>
     <page
           category="de.cau.cs.kieler.klots.preferences.KlotsPreferencePage"
           class="de.cau.cs.kieler.klots.preferences.KlotsColorsPreferencePage"
           id="de.cau.cs.kieler.klots.preferences.KlotsColorsPreferencePage"
           name="Colors">
     </page>
     <page
           category="de.cau.cs.kieler.klots.preferences.KlotsPreferencePage"
           class="de.cau.cs.kieler.klots.preferences.KlotsNXTFlasherPreferencePage"
           id="de.cau.cs.kieler.klots.preferences.KlotsNXTFlasherPreferencePage"
           name="Firmware flash">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="de.cau.cs.kieler.klots.preferences.KlotsPreferenceInitializer">
     </initializer>
  </extension>
     
</plugin>
