<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.ui.preferences.layout"
            class="de.cau.cs.kieler.kiml.layouter.graphviz.preferences.GraphvizPreferencePage"
            id="de.cau.cs.kieler.kiml.layouter.graphviz.preferences.GraphvizPreferencePage"
            name="GraphViz">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.kiml.layouter.graphviz.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
