<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="kimlLayoutProvider" name="KIML Layout Provider" schema="schema/kimlLayoutProvider.exsd"/>
   <extension-point id="kimlDiagramLayouter" name="KIML Diagram Layouter" schema="schema/kimlDiagramLayouter.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.unikiel.rtsys.kieler.kiml.ui.PreferencePage"
            class="edu.unikiel.rtsys.kieler.kiml.layout.preferences.LayoutProvidersPreferencePage"
            id="edu.unikiel.rtsys.kieler.kiml.layout.preferences.LayoutProvidersPreferencePage"
            name="Layout Providers">
      </page>
      <page
            category="edu.unikiel.rtsys.kieler.kiml.ui.PreferencePage"
            class="edu.unikiel.rtsys.kieler.kiml.layout.preferences.DiagramLayoutersPreferencePage"
            id="edu.unikiel.rtsys.kieler.kiml.layout.preferences.DiagramLayoutersPreferencePage"
            name="Diagram Layouters">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.unikiel.rtsys.kieler.kiml.layout.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="Layout"
            nameFilter="*.*"
            class="edu.unikiel.rtsys.kieler.kiml.layout.properties.LayoutPropertyPage"
            id="edu.unikiel.rtsys.kieler.kiml.layout.properties.samplePropertyPage">
      </page>
   </extension>
   <extension
         point="edu.unikiel.rtsys.kieler.kiml.layout.kimlLayoutProvider">
      <kimlLayoutProvider
            class="edu.unikiel.rtsys.kieler.kiml.layout.services.KimlNullLayoutProvider">
         <Priority></Priority>
      </kimlLayoutProvider>
   </extension>

</plugin>
