<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="de.cau.cs.kieler.kex">
      <category id="de.cau.cs.kieler.dataflow">
      </category>
      <category id="de.cau.cs.kieler.syncchart">
      </category>
      <example
            author="pkl"
            contact="pkl@informatik.uni-kiel.de"
            description="This is a suite of all known dataflow diagrams examples in KIELER."
            generation_date="Fri Jul 07 09:05:16 CEST 2010"
            overview_pic="dataflow/testPic1.jpg"
            root_directory="/"
            title="Dataflow Suite">
          <category
               id="de.cau.cs.kieler.dataflow">
         </category>
         <example_resource
               direct_open="false"
               local_path="dataflow/"
               resource_type="folder">
         </example_resource>
         <example_resource
               direct_open="true"
               local_path="dataflow/Flight.dataflow_diagram"
               resource_type="file">
         </example_resource>
         <example_resource
               direct_open="true"
               local_path="dataflow/Orthogonal.dataflow_diagram"
               resource_type="file">
         </example_resource>
         <example_resource
               direct_open="true"
               local_path="dataflow/Pendulum.dataflow_diagram"
               resource_type="file">
         </example_resource>
         <example_resource
               direct_open="true"
               local_path="dataflow/PrimeNumber.dataflow_diagram"
               resource_type="file">
         </example_resource>
      </example>
      <example
            author="pkl"
            contact="pkl@informatik.uni-kiel.de"
            description="This is the standard example ABRO for synccharts editor."
            generation_date="Fri Jul 07 09:05:16 CEST 2010"
            root_directory="synccharts/"
            title="ABRO"
            version="1.0">
         <category
               id="de.cau.cs.kieler.syncchart">
         </category>
         <example_resource
               direct_open="false"
               local_path="synccharts/abro/"
               resource_type="folder">
         </example_resource>
         <example_resource
               direct_open="true"
               local_path="synccharts/abro/abro.kids"
               resource_type="file">
         </example_resource>
         <example_resource
               direct_open="false"
               local_path="synccharts/abro/abro.kixs"
               resource_type="file">
         </example_resource>
      </example>
	</extension>

</plugin>
