<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Viewmanagement Combinations"
         point="de.cau.cs.kieler.viewmanagement.combination">
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionHighlightCombination"
            name="SelectHighlight">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionCollapseCombination"
            name="SelectCollapse">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionExpandCombination"
            name="SelectExpand">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionTextualRepresentationCombination"
            name="SelectTextual">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionFilterCombination"
            name="SelectFilter">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionLayoutCombination"
            name="SelectLayout">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionZoomCombination"
            name="SelectZoomToFit">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionShapeHighlightCombination"
            name="SelectShapeHighlight">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionZoomAndScrollToCombination"
            name="SelectZoomAndScrollTo">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.ManualLayoutCombination"
            name="ManualLayoutCombination">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.CollapseLayoutCombination"
            description="Calls automatic layout whenever compartments get collapsed or expanded."
            name="CollapseLayoutCombination">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionUnFilterCombination"
            name="SelectUnFilter">
      </combination>
   </extension>

</plugin>
