<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.viewmanagement.combination">
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionHighlightCombination"
            name="SelectHighlight">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionCollapseCombination"
            name="CollapseHighlight">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionExpandCombination"
            name="ExpandHighlight">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionTextualRepresentationCombination"
            name="SelectTextual">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionFilterCombination"
            name="FilterCombination">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionLayoutCombination"
            name="LayoutCombination">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionZoomCombination"
            name="ZoomCombination">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionShapeHighlightCombination"
            name="ShapeHighlight">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.SelectionZoomAndScrollToCombination"
            name="ZoomAndScrollToCombination">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.ManualLayoutCombination"
            name="ManualLayoutCombination">
      </combination>
      <combination
            class="de.cau.cs.kieler.viewmanagement.combination.CollapseLayoutCombination"
            description="Calls automatic layout whenever compartments get collapsed or expanded."
            name="CollapseLayoutCombination">
      </combination>
   </extension>

</plugin>
