<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=addGroup">
         <command
               commandId="de.cau.cs.kieler.cakefeed.xtend.import"
               label="Import"
               style="push"
               tooltip="Import FunctionBlocks which are stored in XML format.">
         </command>
         <command
               commandId="de.cau.cs.kieler.cakefeed.xtend.export"
               label="Export"
               style="push"
               tooltip="Export FunctionBlocks to XML format.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to CAKeFEED diagrams."
            id="org.eclipse.gmf.category.cakefeed"
            name="CAKeFEED">
      </category>
      <command
            categoryId="org.eclipse.gmf.category.cakefeed"
            defaultHandler="de.cau.cs.kieler.cakefeed.xtend.handler.ImportHandler"
            description="Imports FunctionBlocks which are stored in XML format."
            id="de.cau.cs.kieler.cakefeed.xtend.import"
            name="Import">
      </command>
      <command
            categoryId="org.eclipse.gmf.category.cakefeed"
            defaultHandler="de.cau.cs.kieler.cakefeed.xtend.handler.ExportHandler"
            description="Exports FunctionBlocks to XML format."
            id="de.cau.cs.kieler.cakefeed.xtend.export"
            name="Export">
      </command>
   </extension>

</plugin>
