<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.ui.preferences.LayoutProvidersPreferencePage"
            class="de.cau.cs.kieler.kiml.layouter.example.preferences.ExampleLayouterPreferencePage"
            id="de.cau.cs.kieler.kiml.layouter.example.preferences.ExampleLayouterPreferencePage"
            name="Example Layouter">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.kiml.layouter.example.preferences.PreferenceInitializer">
      </initializer>
   </extension>
<extension
         point="de.cau.cs.kieler.kiml.layout.kimlLayoutProvider">
      <kimlLayoutProvider
            class="de.cau.cs.kieler.kiml.layouter.example.ExampleLayoutProvider">
      </kimlLayoutProvider>
   </extension>
</plugin>
