<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.unikiel.rtsys.kieler.kiml.layout.preferences.LayoutPreferencePage"
            class="edu.unikiel.rtsys.kieler.kiml.layouter.graphviz.preferences.GraphvizPreferencePage"
            id="edu.unikiel.rtsys.kieler.kiml.layouter.graphviz.preferences.GraphvizPreferencePage"
            name="GraphViz">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.unikiel.rtsys.kieler.kiml.layouter.graphviz.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="edu.unikiel.rtsys.kieler.kiml.layout.kimlLayoutProvider">
      <kimlLayoutProvider
            class="kiel.layouter.graphviz.GraphvizLayoutProvider">
         <Priority
               name="Low"></Priority>
      </kimlLayoutProvider>
   </extension>

</plugin>
