<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.dlsc.batik.ui"
   name="Batik UI"
   version="4.2.0"
   provider-name="Dirk Lemmermann, DLSC"
   class="com.dlsc.batik.viewer.BatikUIPlugin">

   <runtime>
      <library name="runtime.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.apache.batik.dom.svg" version="1.6.0"/>
      <import plugin="org.apache.batik.bridge" version="1.6.0"/>
      <import plugin="org.w3c.dom.svg" version="1.1.0"/>
      <import plugin="org.apache.batik.util" version="1.6.0"/>
      <import plugin="org.apache.batik.ext.awt" version="1.6.0"/>
      <import plugin="org.apache.batik.dom" version="1.6.0"/>
      <import plugin="org.apache.batik.swing" version="1.6.0"/>
      <import plugin="org.apache.batik.transcoder" version="1.6.0"/>
      <import plugin="org.apache.batik.util.gui" version="1.6.0"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SVG"
            id="com.dlsc.batik.view">
      </category>
      <view
            name="SVG Preview"
            icon="icons/batik.gif"
            category="com.dlsc.batik.view"
            class="com.dlsc.batik.viewer.SVGView"
            id="com.dlsc.batik.viewer.SVGView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.editor"
            icon="icons/file_svg.gif"
            extensions="svg"
            contributorClass="com.dlsc.batik.editor.SVGViewEditorActionBarContributor"
            class="com.dlsc.batik.editor.SVGMultiPageEditorPart"
            id="com.dlsc.batik.editors.SVGEditor">
      </editor>
      <editor
            name="%editor.browser"
            icon="icons/file_svg.gif"
            extensions="svg"
            launcher="com.dlsc.batik.editor.external.SquiggleBrowser"
            id="Batik_UI_Plugin.editor1">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.svg*"
            id="com.dlsc.batik.contribution1">
         <menu
               label="SVG"
               path="additions"
               id="com.dlsc.batik.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="%action.slideshow"
               class="com.dlsc.batik.popup.actions.SlideShowAction"
               menubarPath="com.dlsc.batik.menu1/group1"
               enablesFor="2+"
               id="com.dlsc.batik.slideshowAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         name="Help"
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="SVG"
            class="com.dlsc.batik.preferences.MainPreferencePage"
            id="com.dlsc.batik.prefpage">
      </page>
      <page
            name="%pref.slideshow"
            category="com.dlsc.batik.prefpage"
            class="com.dlsc.batik.preferences.SlideshowPreferencePage"
            id="com.dlsc.batik.preferences.SlideshowPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            name="Image File (JPEG, TIFF, PNG) or PDF"
            icon="icons/file_svg.gif"
            class="com.dlsc.batik.wizards.RasterizeWizard"
            id="Batik_UI_Plugin.wizard1">
         <description>
            Export SVG files in workspace to raster image format (JPEG, TIFF, PDF, PNG).
         </description>
         <selection
               class="org.eclipse.core.resources.IFolder">
         </selection>
         <selection
               name="*svg"
               class="org.eclipse.core.resources.IFile">
         </selection>
         <selection
               name="*svgz"
               class="org.eclipse.core.resources.IFile">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="SVG"
            id="com.dlsc.batik.ui">
      </category>
      <wizard
            name="SVG Examples Project"
            icon="icons/batik-small.gif"
            category="com.dlsc.batik.ui"
            class="com.dlsc.batik.wizards.SampleProjectWizard"
            project="true"
            id="com.dlsc.batik.ui.sampleprojectwizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="SVG"
            icon="icons/batik-small.gif"
            fixed="false"
            class="com.dlsc.batik.perspective.SVGPerspectiveFactory"
            id="com.dlsc.batik.ui.perspective.svg">
         <description>
            A specialized perspective for working with scaleable vector graphics (SVG).
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.dlsc.batik.ui.perspective.svg">
         <view
               relative="org.eclipse.ui.editorss"
               id="org.eclipse.ui.views.ResourceNavigator"
               closeable="true"
               visible="true"
               standalone="false"
               showTitle="true"
               relationship="left"
               ratio="0.3"
               moveable="true">
         </view>
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               id="com.dlsc.batik.viewer.SVGView"
               closeable="true"
               visible="true"
               standalone="false"
               showTitle="true"
               relationship="bottom"
               ratio="0.6"
               moveable="true">
         </view>
         <view
               relative="org.eclipse.ui.editorss"
               id="org.eclipse.ui.views.PropertySheet"
               closeable="true"
               visible="true"
               standalone="false"
               showTitle="true"
               relationship="bottom"
               ratio="0.7"
               moveable="true">
         </view>
         <view
               relative="org.eclipse.ui.views.PropertySheet"
               id="org.eclipse.ui.views.ProblemView"
               closeable="true"
               visible="true"
               standalone="false"
               showTitle="true"
               relationship="stack"
               ratio="0.25"
               moveable="true">
         </view>
         <view
               relative="org.eclipse.ui.views.PropertySheet"
               id="org.eclipse.ui.views.TaskList"
               closeable="true"
               visible="true"
               standalone="false"
               showTitle="true"
               relationship="stack"
               ratio="0.25"
               moveable="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
