<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.ui.preferences.DiagramLayoutersPreferencePage"
            class="ssm.diagram.custom.preferences.PreferencePage"
            id="de.cau.cs.kieler.ssm.diagram.layouter.page1"
            name="SSM Diagram Layouter">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ssm.diagram.custom.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.cau.cs.kieler.ssm.diagram">
         <propertyTab
               category="visual"
               id="property.tab.LayoutPropertySection"
               label="Kiml Layout">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.cau.cs.kieler.ssm.diagram">
         <propertySection
               class="de.cau.cs.kieler.kiml.ui.properties.tabbed.sections.KimlLayoutTypePropertySection"
               id="de.cau.cs.kieler.kiml.ui.properties.tabbed.sections.KimlLayoutTypePropertySection"
               tab="property.tab.LayoutPropertySection">
            <input
                  type="de.cau.cs.kieler.ssm.diagram.edit.parts.CompositeStateCompositeStateCompartmentEditPart">
            </input>
            <input
                  type="de.cau.cs.kieler.ssm.diagram.edit.parts.CompositeStateEditPart">
            </input>
            <input
                  type="de.cau.cs.kieler.ssm.diagram.edit.parts.CompositeStateCompositeStateCompartment2EditPart">
            </input>
            <input
                  type="de.cau.cs.kieler.ssm.diagram.edit.parts.CompositeState2EditPart">
            </input>
            <input
                  type="de.cau.cs.kieler.ssm.diagram.edit.parts.RegionRegionCompartmentEditPart">
            </input>
            <input
                  type="de.cau.cs.kieler.ssm.diagram.edit.parts.RegionEditPart">
            </input>
            <input
                  type="de.cau.cs.kieler.ssm.diagram.edit.parts.SafeStateMachineEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="ssm.diagram.custom.kiml.labelprovider.KimlSsmItemProviderAdapterFactory"
            uri="http://www.informatik.uni-kiel.de/rtsys/ssm"
            supportedTypes=
              "de.cau.cs.kieler.kiml.ui.provider.IKimlLabelProvider">
      </factory>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.ui.kimlLayoutGraphBuilder">
      <kimlLayoutGraphBuilder
            class="ssm.diagram.custom.kiml.layout.SSMLayoutGraphBuilder"
            editor_id="de.cau.cs.kieler.ssm.diagram.part.SafeStateMachineDiagramEditorID">
      </kimlLayoutGraphBuilder>
   </extension>

</plugin>
