<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.ui.preferences.LayoutProvidersPreferencePage"
            class="de.cau.cs.kieler.klodd.ui.preferences.KloddLayouterPreferencePage"
            id="edu.unikiel.rtsys.klodd.preferences"
            name="KLoDD">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.klodd.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
